<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Book Qurbani</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white text-lg"><b>Qurbani Booking</b></a>
          </li>
        
        </ul>
      </nav>


      <div class="container mt-5">
        <form>
          <div class="row">
            <div class="col">
              <label for="Animal">Choose Animal Type:</label>
<select id="Animal" name="Animal" required onchange="calculatePrice()">
  <option value="Cow">Full Cow</option>
  <option value="CowShare">Cow Share</option>
  <option value="Goat">Goat</option>
 
</select>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Address" required>
            </div>
          </div>





          <div class="row mt-3">
            <div class="col">
              <input type="Number" class="form-control" placeholder="Contact Number" required>
            </div>
            <div class="col">
              <label for="Days">Eid Days:</label>
              <select id="Eid" name="Eid" required>
                <option value="Day1">Day 1</option>
                <option value="Day2">Day 2</option>
                <option value="Day3">Day 3</option>
               
              </select>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col">
              <label for="">Qurbani Details Names & Shares:</label>
              <input type="text" class="form-control" placeholder="Qurbani Details Names & Shares" required>
            </div>
            <div class="col">
              <label for="">Quantity:</label>

              <input type="Number" class="form-control" id="quantity" placeholder="Animal Quantity" required onchange="calculatePrice()">
            </div>
          </div>
          <label for="">Total Amount:</label>
          <input type="number" readonly class="form-control" id="totalPrice">
          <button type="submit" class="btn btn-success mt-3">Submit</button>

          </form>


      </div>


      <script>
function calculatePrice() {
    var animal = document.getElementById("Animal").value;
   var quantity =1
   quantity = document.getElementById("quantity").value;
    
    let Cow = +10;
    let CowShare= +5;
    let Goat= +15; 
   if (animal == "Cow") {
    let totalPrice = Cow * quantity;
    console.log(totalPrice);
   
    document.getElementById("totalPrice").value = totalPrice
   }else if(animal == "CowShare"){
    let totalPrice = CowShare * quantity;
    
   
    document.getElementById("totalPrice").value = totalPrice
   }else if(animal == "Goat"){
    let totalPrice = Goat * quantity;
    
   
    document.getElementById("totalPrice").value = totalPrice
   }
  
   
    
  
}



      </script>
</body>
</html>